<div>
    <h1>
      Let's play math
    </h1>

    <div>
      <h2>
        Game 1: Fractions
      </h2>

      <!-- TODO: Which is the proper way of referencing image assets.-->
      <div>
        <img class="user-image" src="assets/images/atharv.jpg">
          I've given you 1/3 of my marbles.
      </div>

      <div>
        <img class="user-image" src="../../assets/images/jami.jpg">
          Thanks for giving me 6 marbles
      </div>

      <div>
        <p>
          <img class="icon-image" src="assets/images/atharv.jpg">
          Atharv originally had <input [(ngModel)]="userAnswerFractions"> marbles.
        </p>
      </div>


      <div>
          <button (click)="checkAnswerFractions=!checkAnswerFractions">
              {{checkAnswerFractions ? 'Hide Check' : 'Check Answer'}}
          </button>

        <button (click)="showAnswerFractions=!showAnswerFractions">
          {{showAnswerFractions ? 'Hide Answer' : 'Show Answer'}}
        </button>
      </div>

      <div *ngIf="showAnswerFractions" class="larger-text">
        <p>
          {{fractionsAnswer}}
        </p>
      </div>

      <div *ngIf="checkAnswerFractions">
          <p *ngIf="userAnswerFractions==fractionsAnswer">
              You are Correct 🔥 💯 😃
            </p>
            <p *ngIf="userAnswerFractions!=fractionsAnswer">
                Sorry Try Again 😭 💩
            </p>
      </div>

      <button (click)="showLevel2Fractions=!showLevel2Fractions">
        {{showLevel2Fractions ? 'Hide Level 2' : 'Show Level 2'}}
      </button>

      <div *ngIf="showLevel2Fractions">
        <div>
          <img class="user-image" src="../../assets/images/tomiwa.jpg">
          Can I have half of the rest
        </div>

        <p>
          <img class="icon-image" src="../../assets/images/tomiwa.jpg">
          Tomiwa now has <input> marbles.
        </p>
      </div>

    </div>


    <div>
        <h2>
          Game 2: Substitution
        </h2>

      <div class="larger-text">
        <p>
          12 + {{variableK}} = {{result1}}
        </p>
        <p>
          12 + {{variableK}} - <strong>x</strong> = {{result2}}
        </p>

        <h3>
          What is X?
        </h3>
        <input [(ngModel)]="userAnswer" type="number">

      </div>

        <div>
            <button (click)="checkAnswer=!checkAnswer">
                {{checkAnswer ? 'Hide Check' : 'Check Answer'}}
            </button>

          <button (click)="showAnswer=!showAnswer">
            {{showAnswer ? 'Hide Answer' : 'Show Answer'}}
          </button>
        </div>

        <div *ngIf="showAnswer" class="larger-text">
          <p>
            {{variableX}}
          </p>
        </div>

        <div *ngIf="checkAnswer">
            <p *ngIf="userAnswer==variableX">
                You are Correct 🔥 💯 😃
              </p>
              <p *ngIf="userAnswer!=variableX">
                  Sorry Try Again 😭 💩
              </p>
        </div>

      </div>
</div>
