<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}'s Angular app!
  </h1>
  <img class="rounded-circle img-fluid d-block mx-auto" src="https://tomiwa.ca/img/tomiwa-facebook-profile-picture.jpg"
       style="max-width: 300px"
       alt="Tomiwa Ademidun's Website Personal Picture">
</div>
<h2>Here are some cool facts about {{me}}: </h2>
<ul>
    <li>
        <h2>
          I really like <a [routerLink]="[ '/math']" router>Math</a>.
        </h2>
    </li>
  <li>
    <h2>I am a fan of <a target="_blank" rel="noopener" href="https://youtu.be/pVtER-e-cw4">
      Russell Westbrook</a>
    </h2>
    <video style="max-width: 500px"
      src="https://storage.googleapis.com/tomiwa/Westbrook-KIA-NBA-MVP-Mixtape-short.mp4" type="video/mp4" controls>

    </video>
    <h3>Russell Westbrook is {{playerAge}} years old.</h3>


    <div>
      <p>How old are you?</p>
      <!-- <input title="How old are you?" [value]="ageInput"/> -->
      <input title="How old are you?" [(ngModel)]="ageInput" type="number"/>
      <p>{{ageInput}}</p>

      <button (click)="getAgeDifference()">
        Get Age Difference
      </button>

      <h3 *ngIf="ageDifference">There are {{ageDifference}} years between you and Russell Westbrook</h3>
    </div>


    <h3>How many points will Russell Westbrook Score?</h3>
    <div>{{randomPoints}}</div>
    <button (click)="getRandomPoints()">Guess!</button>

  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">My favorite sport is football (soccer)</a></h2>
  </li>
  <li>
    <h2> I was Born in <a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Lagos/">Lagos, Nigeria</a></h2>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Lagos.png/800px-Lagos.png" style="max-height: 500px">
  </li>
</ul>
